<div id="subcontainer">
    <div class="subtitle"><strong>Create a new reimbursement here.</strong></div>
    <hr>
    <table>
      <tr>
      <th colspan="9">New Reimbursement</th> 
    </tr>
      <tr>
        <th>Reimburesment Amount</th>
        <th>Description</th>
        <th>Reciept</th>
        <th>Resolver</th>
        <th>Type</th>
      </tr>
      <tr>
        <td>
          <input type="text" [(ngModel)]="amount">
        </td>
        <td>
            <input type="text" [(ngModel)]="description">
        </td>
        <td>
          <input type="file" name="upload" id="upload" [(ngModel)]="reimbRreceipt">
        </td>
        <td>
          <select name="managerId" id="managerId" [(ngModel)]="managerId">
            <option value="0"></option>
            <option value="11">Brandon Slade</option>
            <option value="14">Willie Joe</option>
          </select>
        </td>
        <td>
          <select name="type" id="type" [(ngModel)]="reimbType">
              <option value="0"></option>
              <option value="1">Lodging</option>
              <option value="2">Travel</option>
              <option value="3">Food</option>
              <option value="4">Other</option>
          </select>
        </td>
      </tr>
    </table>
    <div class="submitted" *ngIf="submission()"> Your reimbursement has been successfully submitted.</div>
    <nav>
        <input id="button" type="Submit" [disabled]="!newInputValidation()" (click)="submitNew()" value="Submit">
    </nav>
  </div>
 