<div id="subcontainer">
  <div class="subtitle"><strong>Reimbursements that we have on file for you.</strong></div>
  <hr>
  <table>
    <tr>
    <th colspan="9">Reimbursements</th> 
  </tr>
    <tr>
      <th>Reimburesment ID</th>
      <th>Reimburesment Amount</th>
      <th>Submitted</th>
      <th>Resolved</th>
      <th>Description</th>
      <th>Receipt</th>
      <th>Resolver</th>
      <th>Status</th>
      <th>Type</th>
    </tr>
    <tr>
      <td>table data goes here</td>
      <td>table data goes here</td>
      <td>table data goes here</td>
      <td>table data goes here</td>
      <td>table data goes here</td>
      <td>table data goes here</td>
      <td>table data goes here</td>
      <td>table data goes here</td> 
      <td>table data goes here</td>
    </tr>
  </table>
</div>
