h1 {
    margin: 0;
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav {

    display: flex;
    justify-content: space-around;
}

#container {
    width: 100%;
    margin: 0 auto;
    box-shadow: 2px 2px 3px 3px grey;
    background-image: url(https://images.unsplash.com/photo-1555910387-225ad590e107?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
    background-size: 100%;
    background-position-y: 22%;
}

nav > #button:hover {
    background: rgba(35, 49, 247, 0.678);
}

#button {
    font-size: 2rem; 
    width: 45%;
    height: 60px;
    background: rgb(184, 184, 184);
    cursor: pointer;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
body{
    height: 97vh;
    margin: 0;
    border: 15px black groove;
    flex-grow: 1;
    background-image: url(https://flipwallpapers.com/wallpapers/4k-wallpaper-background-For-desktop-Wallpaper.png);
}

.title {
    text-align: center;
}
